<?xml version="1.0" encoding="UTF-8" ?>

<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.encounter"
    version="1.0.0">

    <name>Encounter</name>

    <author href="http://mattlayton.co.uk" email="mattlayt@gmail.com">
        Matt Layton
    </author>

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

</widget>