.progress-radial {
  float: left;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.progress-radial .overlay {
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

.progress-0 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #000 50%, #fff 50%, #fff);
}

.progress-5 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #000 50%, #fff 50%, #fff);
}

.progress-10 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #000 50%, #fff 50%, #fff);
}

.progress-15 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #000 50%, #fff 50%, #fff);
}

.progress-20 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #000 50%, #fff 50%, #fff);
}

.progress-25 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #000 50%, #fff 50%, #fff);
}

.progress-30 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #000 50%, #fff 50%, #fff);
}

.progress-35 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #000 50%, #fff 50%, #fff);
}

.progress-40 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #000 50%, #fff 50%, #fff);
}

.progress-45 {
  background-image: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #000 50%, #fff 50%, #fff);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-75 {
  background-image: linear-gradient(0deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-80 {
  background-image: linear-gradient(18deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-85 {
  background-image: linear-gradient(36deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-90 {
  background-image: linear-gradient(54deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-95 {
  background-image: linear-gradient(72deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}

.progress-100 {
  background-image: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #fff 50%, #fff);
}